<div class="address-section">
  <nav class="breadcrumb">
    <a href="{{ shop.url }}">Home</a>
    {% if template contains 'customers/account' %}
      <span>Account</span>
    {% elsif template contains 'customers/addresses' %}
      <a href="/account">Account</a> <span>Addresses</span>
    {% elsif template contains 'customers/login' %}
      <span>Login</span>
    {% elsif template contains 'customers/register' %}
      <span>Register</span>
    {% elsif template contains 'products' %}
      {% if collection %}
        <a href="{{ collection.url }}">{{ collection.title }}</a>
      {% endif %}
      <span>{{ product.title }}</span>
    {% else %}
      <span>{{ page_title }}</span>
    {% endif %}
  </nav>

  <div class="address_action">
    <h1>Addresses</h1>
    <div class="redirect">
      <a href="/account">
        <svg width="21" height="8" viewBox="0 0 21 8" fill="none" class="bi bi-arrow-left" xmlns="http://www.w3.org/2000/svg">
          <path d="M.646 3.646a.5.5 0 0 0 0 .708l3.182 3.182a.5.5 0 1 0 .708-.708L1.707 4l2.829-2.828a.5.5 0 1 0-.708-.708L.646 3.646ZM21 3.5H1v1h20v-1Z" fill="#000"></path>
        </svg>
      </a>
      <a href="/account">Return to account page</a>
    </div>
  </div>

  {% comment %} <button class="edit-btn" data-id="{{ address.id }}">Edit</button> {% endcomment %}
  <div class="view_address">
    {% if customer.addresses.size > 0 %}
      {% for address in customer.addresses %}
        <div class="address" id="address-{{ address.id }}">
          <div class="head">
            <p>{{ address.first_name }} {{ address.last_name }}{% if address.default %} <em>(Default)</em>{% endif %}</p>
          </div>
          <div class="customer_address">
            <p>{{ address.first_name }} {{ address.last_name }}</p>
            <p>{{ address.address1 }}</p>
            {% if address.address2 != "" %}
              <p>{{ address.address2 }}</p>
            {% endif %}
            <p>{{ address.city }} {% if address.province_code %}{{ address.province_code }}, {% endif %}{{ address.country }}</p>
            <p>{{ address.zip }}</p>
            <p>{{ address.phone }}</p>
          </div>
          <div class="address_actions">
            <button class="edit-btn" onclick="showEditForm('{{ address.id }}')">
              <span class="btn-text">Edit</span>
              <svg width="41" height="8" viewBox="0 0 41 8" fill="none" class="bi bi-arrow-right arrow-icon" xmlns="http://www.w3.org/2000/svg">
                <path d="M40.354 4.354a.5.5 0 0 0 0-.708L37.172.464a.5.5 0 1 0-.707.708L39.293 4l-2.828 2.828a.5.5 0 1 0 .707.708l3.182-3.182ZM0 4.5h40v-1H0v1Z" fill="#000"></path>
              </svg>
            </button>
            <form action="/account/addresses/{{ address.id }}" method="post" onsubmit="return confirm('Are you sure you want to delete this address?');">
              <input type="hidden" name="_method" value="delete" />
              <button type="submit" class="delete-btn">
                <span class="btn-text">Delete</span>
                <svg width="41" height="8" viewBox="0 0 41 8" fill="none" class="bi bi-arrow-right arrow-icon" xmlns="http://www.w3.org/2000/svg">
                  <path d="M40.354 4.354a.5.5 0 0 0 0-.708L37.172.464a.5.5 0 1 0-.707.708L39.293 4l-2.828 2.828a.5.5 0 1 0 .707.708l3.182-3.182ZM0 4.5h40v-1H0v1Z" fill="#000"></path>
                </svg>
              </button>
            </form>
          </div>
        </div>
  
        <div class="edit-address-section modal" id="edit-address-{{ address.id }}" style="display: none;">
          <div class="modal-content">
            <div class="modal-header">
              <h2>Edit Address</h2>
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-x-lg close-button" viewBox="0 0 16 16" onclick="hideEditForm('{{ address.id }}')">
                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" stroke="currentColor" stroke-width="0.6"/>
              </svg>
            </div>
            <div class="modal-body">
              {% form 'customer_address', address, class: 'modalForm' %}
                {{ form.errors | default_errors }}
                <div class="rows">
                  <div class="column">
                    <label for="first_name">First Name</label>
                    <input type="text" value="{{ address.first_name }}" name="address[first_name]" size="30" />
                  </div>

                  <div class="column">
                    <label for="last_name">Last Name</label>
                    <input type="text" value="{{ address.last_name }}" name="address[last_name]" size="30" />
                  </div>
                </div>

                <div class="column">
                  <label for="company">Company</label>
                  <input type="text" value="{{ address.company }}" name="address[company]" />
                </div>

                <div class="column">
                  <label for="address1">Address Line 1</label>
                  <input type="text" value="{{ address.address1 }}" name="address[address1]" />
                </div>

                <div class="column">
                  <label for="address2">Address Line 2</label>
                  <input type="text" value="{{ address.address2 }}" name="address[address2]" />
                </div>

                <div class="column">
                  <label for="city">City</label>
                  <input type="text" value="{{ address.city }}" name="address[city]" />
                </div>
                
                <div class="column">
                  <label for="country">Country</label>
                  <select name="address[country]">
                    <option value="United States" {% if address.country == "United States" %}selected{% endif %}>United States</option>
                    <option value="Afghanistan" {% if address.country == "Afghanistan" %}selected{% endif %}>Afghanistan</option>
                    <option value="Albania" {% if address.country == "Albania" %}selected{% endif %}>Albania</option>
                    <option value="Algeria" {% if address.country == "Algeria" %}selected{% endif %}>Algeria</option>
                    <option value="Andorra" {% if address.country == "Andorra" %}selected{% endif %}>Andorra</option>
                    <option value="Angola" {% if address.country == "Angola" %}selected{% endif %}>Angola</option>
                    <option value="Antigua and Barbuda" {% if address.country == "Antigua and Barbuda" %}selected{% endif %}>Antigua and Barbuda</option>
                    <option value="Argentina" {% if address.country == "Argentina" %}selected{% endif %}>Argentina</option>
                    <option value="Armenia" {% if address.country == "Armenia" %}selected{% endif %}>Armenia</option>
                    <option value="Australia" {% if address.country == "Australia" %}selected{% endif %}>Australia</option>
                    <option value="Austria" {% if address.country == "Austria" %}selected{% endif %}>Austria</option>
                    <option value="Azerbaijan" {% if address.country == "Azerbaijan" %}selected{% endif %}>Azerbaijan</option>
                    <option value="Bahamas" {% if address.country == "Bahamas" %}selected{% endif %}>Bahamas</option>
                    <option value="Bahrain" {% if address.country == "Bahrain" %}selected{% endif %}>Bahrain</option>
                    <option value="Bangladesh" {% if address.country == "Bangladesh" %}selected{% endif %}>Bangladesh</option>
                    <option value="Barbados" {% if address.country == "Barbados" %}selected{% endif %}>Barbados</option>
                    <option value="Belarus" {% if address.country == "Belarus" %}selected{% endif %}>Belarus</option>
                    <option value="Belgium" {% if address.country == "Belgium" %}selected{% endif %}>Belgium</option>
                    <option value="Belize" {% if address.country == "Belize" %}selected{% endif %}>Belize</option>
                    <option value="Benin" {% if address.country == "Benin" %}selected{% endif %}>Benin</option>
                    <option value="Bhutan" {% if address.country == "Bhutan" %}selected{% endif %}>Bhutan</option>
                    <option value="Bolivia" {% if address.country == "Bolivia" %}selected{% endif %}>Bolivia</option>
                    <option value="Bosnia and Herzegovina" {% if address.country == "Bosnia and Herzegovina" %}selected{% endif %}>Bosnia and Herzegovina</option>
                    <option value="Botswana" {% if address.country == "Botswana" %}selected{% endif %}>Botswana</option>
                    <option value="Brazil" {% if address.country == "Brazil" %}selected{% endif %}>Brazil</option>
                    <option value="Brunei" {% if address.country == "Brunei" %}selected{% endif %}>Brunei</option>
                    <option value="Bulgaria" {% if address.country == "Bulgaria" %}selected{% endif %}>Bulgaria</option>
                    <option value="Burkina Faso" {% if address.country == "Burkina Faso" %}selected{% endif %}>Burkina Faso</option>
                    <option value="Burundi" {% if address.country == "Burundi" %}selected{% endif %}>Burundi</option>
                    <option value="Cabo Verde" {% if address.country == "Cabo Verde" %}selected{% endif %}>Cabo Verde</option>
                    <option value="Cambodia" {% if address.country == "Cambodia" %}selected{% endif %}>Cambodia</option>
                    <option value="Cameroon" {% if address.country == "Cameroon" %}selected{% endif %}>Cameroon</option>
                    <option value="Canada" {% if address.country == "Canada" %}selected{% endif %}>Canada</option>
                    <option value="Central African Republic" {% if address.country == "Central African Republic" %}selected{% endif %}>Central African Republic</option>
                    <option value="Chad" {% if address.country == "Chad" %}selected{% endif %}>Chad</option>
                    <option value="Chile" {% if address.country == "Chile" %}selected{% endif %}>Chile</option>
                    <option value="China" {% if address.country == "China" %}selected{% endif %}>China</option>
                    <option value="Colombia" {% if address.country == "Colombia" %}selected{% endif %}>Colombia</option>
                    <option value="Comoros" {% if address.country == "Comoros" %}selected{% endif %}>Comoros</option>
                    <option value="Congo" {% if address.country == "Congo" %}selected{% endif %}>Congo</option>
                    <option value="Costa Rica" {% if address.country == "Costa Rica" %}selected{% endif %}>Costa Rica</option>
                    <option value="Croatia" {% if address.country == "Croatia" %}selected{% endif %}>Croatia</option>
                    <option value="Cuba" {% if address.country == "Cuba" %}selected{% endif %}>Cuba</option>
                    <option value="Cyprus" {% if address.country == "Cyprus" %}selected{% endif %}>Cyprus</option>
                    <option value="Czech Republic" {% if address.country == "Czech Republic" %}selected{% endif %}>Czech Republic</option>
                    <option value="Denmark" {% if address.country == "Denmark" %}selected{% endif %}>Denmark</option>
                    <option value="Djibouti" {% if address.country == "Djibouti" %}selected{% endif %}>Djibouti</option>
                    <option value="Dominica" {% if address.country == "Dominica" %}selected{% endif %}>Dominica</option>
                    <option value="Dominican Republic" {% if address.country == "Dominican Republic" %}selected{% endif %}>Dominican Republic</option>
                    <option value="Ecuador" {% if address.country == "Ecuador" %}selected{% endif %}>Ecuador</option>
                    <option value="Egypt" {% if address.country == "Egypt" %}selected{% endif %}>Egypt</option>
                    <option value="El Salvador" {% if address.country == "El Salvador" %}selected{% endif %}>El Salvador</option>
                    <option value="Equatorial Guinea" {% if address.country == "Equatorial Guinea" %}selected{% endif %}>Equatorial Guinea</option>
                    <option value="Eritrea" {% if address.country == "Eritrea" %}selected{% endif %}>Eritrea</option>
                    <option value="Estonia" {% if address.country == "Estonia" %}selected{% endif %}>Estonia</option>
                    <option value="Eswatini" {% if address.country == "Eswatini" %}selected{% endif %}>Eswatini</option>
                    <option value="Ethiopia" {% if address.country == "Ethiopia" %}selected{% endif %}>Ethiopia</option>
                    <option value="Fiji" {% if address.country == "Fiji" %}selected{% endif %}>Fiji</option>
                    <option value="Finland" {% if address.country == "Finland" %}selected{% endif %}>Finland</option>
                    <option value="France" {% if address.country == "France" %}selected{% endif %}>France</option>
                    <option value="Gabon" {% if address.country == "Gabon" %}selected{% endif %}>Gabon</option>
                    <option value="Gambia" {% if address.country == "Gambia" %}selected{% endif %}>Gambia</option>
                    <option value="Georgia" {% if address.country == "Georgia" %}selected{% endif %}>Georgia</option>
                    <option value="Germany" {% if address.country == "Germany" %}selected{% endif %}>Germany</option>
                    <option value="Ghana" {% if address.country == "Ghana" %}selected{% endif %}>Ghana</option>
                    <option value="Greece" {% if address.country == "Greece" %}selected{% endif %}>Greece</option>
                    <option value="Grenada" {% if address.country == "Grenada" %}selected{% endif %}>Grenada</option>
                    <option value="Guatemala" {% if address.country == "Guatemala" %}selected{% endif %}>Guatemala</option>
                    <option value="Guinea" {% if address.country == "Guinea" %}selected{% endif %}>Guinea</option>
                    <option value="Guinea-Bissau" {% if address.country == "Guinea-Bissau" %}selected{% endif %}>Guinea-Bissau</option>
                    <option value="Guyana" {% if address.country == "Guyana" %}selected{% endif %}>Guyana</option>
                    <option value="Haiti" {% if address.country == "Haiti" %}selected{% endif %}>Haiti</option>
                    <option value="Honduras" {% if address.country == "Honduras" %}selected{% endif %}>Honduras</option>
                    <option value="Hungary" {% if address.country == "Hungary" %}selected{% endif %}>Hungary</option>
                    <option value="Iceland" {% if address.country == "Iceland" %}selected{% endif %}>Iceland</option>
                    <option value="India" {% if address.country == "India" %}selected{% endif %}>India</option>
                    <option value="Indonesia" {% if address.country == "Indonesia" %}selected{% endif %}>Indonesia</option>
                    <option value="Iran" {% if address.country == "Iran" %}selected{% endif %}>Iran</option>
                    <option value="Iraq" {% if address.country == "Iraq" %}selected{% endif %}>Iraq</option>
                    <option value="Ireland" {% if address.country == "Ireland" %}selected{% endif %}>Ireland</option>
                    <option value="Israel" {% if address.country == "Israel" %}selected{% endif %}>Israel</option>
                    <option value="Italy" {% if address.country == "Italy" %}selected{% endif %}>Italy</option>
                    <option value="Jamaica" {% if address.country == "Jamaica" %}selected{% endif %}>Jamaica</option>
                    <option value="Japan" {% if address.country == "Japan" %}selected{% endif %}>Japan</option>
                    <option value="Jordan" {% if address.country == "Jordan" %}selected{% endif %}>Jordan</option>
                    <option value="Kazakhstan" {% if address.country == "Kazakhstan" %}selected{% endif %}>Kazakhstan</option>
                    <option value="Kenya" {% if address.country == "Kenya" %}selected{% endif %}>Kenya</option>
                    <option value="Kiribati" {% if address.country == "Kiribati" %}selected{% endif %}>Kiribati</option>
                    <option value="Korea (North)" {% if address.country == "Korea (North)" %}selected{% endif %}>Korea (North)</option>
                    <option value="Korea (South)" {% if address.country == "Korea (South)" %}selected{% endif %}>Korea (South)</option>
                    <option value="Kosovo" {% if address.country == "Kosovo" %}selected{% endif %}>Kosovo</option>
                    <option value="Kuwait" {% if address.country == "Kuwait" %}selected{% endif %}>Kuwait</option>
                    <option value="Kyrgyzstan" {% if address.country == "Kyrgyzstan" %}selected{% endif %}>Kyrgyzstan</option>
                    <option value="Laos" {% if address.country == "Laos" %}selected{% endif %}>Laos</option>
                    <option value="Latvia" {% if address.country == "Latvia" %}selected{% endif %}>Latvia</option>
                    <option value="Lebanon" {% if address.country == "Lebanon" %}selected{% endif %}>Lebanon</option>
                    <option value="Lesotho" {% if address.country == "Lesotho" %}selected{% endif %}>Lesotho</option>
                    <option value="Liberia" {% if address.country == "Liberia" %}selected{% endif %}>Liberia</option>
                    <option value="Libya" {% if address.country == "Libya" %}selected{% endif %}>Libya</option>
                    <option value="Liechtenstein" {% if address.country == "Liechtenstein" %}selected{% endif %}>Liechtenstein</option>
                    <option value="Lithuania" {% if address.country == "Lithuania" %}selected{% endif %}>Lithuania</option>
                    <option value="Luxembourg" {% if address.country == "Luxembourg" %}selected{% endif %}>Luxembourg</option>
                    <option value="Madagascar" {% if address.country == "Madagascar" %}selected{% endif %}>Madagascar</option>
                    <option value="Malawi" {% if address.country == "Malawi" %}selected{% endif %}>Malawi</option>
                    <option value="Malaysia" {% if address.country == "Malaysia" %}selected{% endif %}>Malaysia</option>
                    <option value="Maldives" {% if address.country == "Maldives" %}selected{% endif %}>Maldives</option>
                    <option value="Mali" {% if address.country == "Mali" %}selected{% endif %}>Mali</option>
                    <option value="Malta" {% if address.country == "Malta" %}selected{% endif %}>Malta</option>
                    <option value="Marshall Islands" {% if address.country == "Marshall Islands" %}selected{% endif %}>Marshall Islands</option>
                    <option value="Mauritania" {% if address.country == "Mauritania" %}selected{% endif %}>Mauritania</option>
                    <option value="Mauritius" {% if address.country == "Mauritius" %}selected{% endif %}>Mauritius</option>
                    <option value="Mexico" {% if address.country == "Mexico" %}selected{% endif %}>Mexico</option>
                    <option value="Micronesia" {% if address.country == "Micronesia" %}selected{% endif %}>Micronesia</option>
                    <option value="Moldova" {% if address.country == "Moldova" %}selected{% endif %}>Moldova</option>
                    <option value="Monaco" {% if address.country == "Monaco" %}selected{% endif %}>Monaco</option>
                    <option value="Mongolia" {% if address.country == "Mongolia" %}selected{% endif %}>Mongolia</option>
                    <option value="Montenegro" {% if address.country == "Montenegro" %}selected{% endif %}>Montenegro</option>
                    <option value="Morocco" {% if address.country == "Morocco" %}selected{% endif %}>Morocco</option>
                    <option value="Mozambique" {% if address.country == "Mozambique" %}selected{% endif %}>Mozambique</option>
                    <option value="Myanmar" {% if address.country == "Myanmar" %}selected{% endif %}>Myanmar</option>
                    <option value="Namibia" {% if address.country == "Namibia" %}selected{% endif %}>Namibia</option>
                    <option value="Nauru" {% if address.country == "Nauru" %}selected{% endif %}>Nauru</option>
                    <option value="Nepal" {% if address.country == "Nepal" %}selected{% endif %}>Nepal</option>
                    <option value="Netherlands" {% if address.country == "Netherlands" %}selected{% endif %}>Netherlands</option>
                    <option value="New Zealand" {% if address.country == "New Zealand" %}selected{% endif %}>New Zealand</option>
                    <option value="Nicaragua" {% if address.country == "Nicaragua" %}selected{% endif %}>Nicaragua</option>
                    <option value="Niger" {% if address.country == "Niger" %}selected{% endif %}>Niger</option>
                    <option value="Nigeria" {% if address.country == "Nigeria" %}selected{% endif %}>Nigeria</option>
                    <option value="North Macedonia" {% if address.country == "North Macedonia" %}selected{% endif %}>North Macedonia</option>
                    <option value="Norway" {% if address.country == "Norway" %}selected{% endif %}>Norway</option>
                    <option value="Oman" {% if address.country == "Oman" %}selected{% endif %}>Oman</option>
                    <option value="Pakistan" {% if address.country == "Pakistan" %}selected{% endif %}>Pakistan</option>
                    <option value="Palau" {% if address.country == "Palau" %}selected{% endif %}>Palau</option>
                    <option value="Palestine" {% if address.country == "Palestine" %}selected{% endif %}>Palestine</option>
                    <option value="Panama" {% if address.country == "Panama" %}selected{% endif %}>Panama</option>
                    <option value="Papua New Guinea" {% if address.country == "Papua New Guinea" %}selected{% endif %}>Papua New Guinea</option>
                    <option value="Paraguay" {% if address.country == "Paraguay" %}selected{% endif %}>Paraguay</option>
                    <option value="Peru" {% if address.country == "Peru" %}selected{% endif %}>Peru</option>
                    <option value="Philippines" {% if address.country == "Philippines" %}selected{% endif %}>Philippines</option>
                    <option value="Poland" {% if address.country == "Poland" %}selected{% endif %}>Poland</option>
                    <option value="Portugal" {% if address.country == "Portugal" %}selected{% endif %}>Portugal</option>
                    <option value="Qatar" {% if address.country == "Qatar" %}selected{% endif %}>Qatar</option>
                    <option value="Romania" {% if address.country == "Romania" %}selected{% endif %}>Romania</option>
                    <option value="Russia" {% if address.country == "Russia" %}selected{% endif %}>Russia</option>
                    <option value="Rwanda" {% if address.country == "Rwanda" %}selected{% endif %}>Rwanda</option>
                    <option value="Saint Kitts and Nevis" {% if address.country == "Saint Kitts and Nevis" %}selected{% endif %}>Saint Kitts and Nevis</option>
                    <option value="Saint Lucia" {% if address.country == "Saint Lucia" %}selected{% endif %}>Saint Lucia</option>
                    <option value="Saint Vincent and the Grenadines" {% if address.country == "Saint Vincent and the Grenadines" %}selected{% endif %}>Saint Vincent and the Grenadines</option>
                    <option value="Samoa" {% if address.country == "Samoa" %}selected{% endif %}>Samoa</option>
                    <option value="San Marino" {% if address.country == "San Marino" %}selected{% endif %}>San Marino</option>
                    <option value="Sao Tome and Principe" {% if address.country == "Sao Tome and Principe" %}selected{% endif %}>Sao Tome and Principe</option>
                    <option value="Saudi Arabia" {% if address.country == "Saudi Arabia" %}selected{% endif %}>Saudi Arabia</option>
                    <option value="Senegal" {% if address.country == "Senegal" %}selected{% endif %}>Senegal</option>
                    <option value="Serbia" {% if address.country == "Serbia" %}selected{% endif %}>Serbia</option>
                    <option value="Seychelles" {% if address.country == "Seychelles" %}selected{% endif %}>Seychelles</option>
                    <option value="Sierra Leone" {% if address.country == "Sierra Leone" %}selected{% endif %}>Sierra Leone</option>
                    <option value="Singapore" {% if address.country == "Singapore" %}selected{% endif %}>Singapore</option>
                    <option value="Slovakia" {% if address.country == "Slovakia" %}selected{% endif %}>Slovakia</option>
                    <option value="Slovenia" {% if address.country == "Slovenia" %}selected{% endif %}>Slovenia</option>
                    <option value="Solomon Islands" {% if address.country == "Solomon Islands" %}selected{% endif %}>Solomon Islands</option>
                    <option value="Somalia" {% if address.country == "Somalia" %}selected{% endif %}>Somalia</option>
                    <option value="South Africa" {% if address.country == "South Africa" %}selected{% endif %}>South Africa</option>
                    <option value="Spain" {% if address.country == "Spain" %}selected{% endif %}>Spain</option>
                    <option value="Sri Lanka" {% if address.country == "Sri Lanka" %}selected{% endif %}>Sri Lanka</option>
                    <option value="Sudan" {% if address.country == "Sudan" %}selected{% endif %}>Sudan</option>
                    <option value="Suriname" {% if address.country == "Suriname" %}selected{% endif %}>Suriname</option>
                    <option value="Swaziland" {% if address.country == "Swaziland" %}selected{% endif %}>Swaziland</option>
                    <option value="Sweden" {% if address.country == "Sweden" %}selected{% endif %}>Sweden</option>
                    <option value="Switzerland" {% if address.country == "Switzerland" %}selected{% endif %}>Switzerland</option>
                    <option value="Syria" {% if address.country == "Syria" %}selected{% endif %}>Syria</option>
                    <option value="Taiwan" {% if address.country == "Taiwan" %}selected{% endif %}>Taiwan</option>
                    <option value="Tajikistan" {% if address.country == "Tajikistan" %}selected{% endif %}>Tajikistan</option>
                    <option value="Tanzania" {% if address.country == "Tanzania" %}selected{% endif %}>Tanzania</option>
                    <option value="Thailand" {% if address.country == "Thailand" %}selected{% endif %}>Thailand</option>
                    <option value="Timor-Leste" {% if address.country == "Timor-Leste" %}selected{% endif %}>Timor-Leste</option>
                    <option value="Togo" {% if address.country == "Togo" %}selected{% endif %}>Togo</option>
                    <option value="Tonga" {% if address.country == "Tonga" %}selected{% endif %}>Tonga</option>
                    <option value="Trinidad and Tobago" {% if address.country == "Trinidad and Tobago" %}selected{% endif %}>Trinidad and Tobago</option>
                    <option value="Tunisia" {% if address.country == "Tunisia" %}selected{% endif %}>Tunisia</option>
                    <option value="Turkey" {% if address.country == "Turkey" %}selected{% endif %}>Turkey</option>
                    <option value="Turkmenistan" {% if address.country == "Turkmenistan" %}selected{% endif %}>Turkmenistan</option>
                    <option value="Tuvalu" {% if address.country == "Tuvalu" %}selected{% endif %}>Tuvalu</option>
                    <option value="Uganda" {% if address.country == "Uganda" %}selected{% endif %}>Uganda</option>
                    <option value="Ukraine" {% if address.country == "Ukraine" %}selected{% endif %}>Ukraine</option>
                    <option value="United Arab Emirates" {% if address.country == "United Arab Emirates" %}selected{% endif %}>United Arab Emirates</option>
                    <option value="United Kingdom" {% if address.country == "United Kingdom" %}selected{% endif %}>United Kingdom</option>
                    <option value="United States" {% if address.country == "United States" %}selected{% endif %}>United States</option>
                    <option value="Uruguay" {% if address.country == "Uruguay" %}selected{% endif %}>Uruguay</option>
                    <option value="Uzbekistan" {% if address.country == "Uzbekistan" %}selected{% endif %}>Uzbekistan</option>
                    <option value="Vanuatu" {% if address.country == "Vanuatu" %}selected{% endif %}>Vanuatu</option>
                    <option value="Vatican City" {% if address.country == "Vatican City" %}selected{% endif %}>Vatican City</option>
                    <option value="Venezuela" {% if address.country == "Venezuela" %}selected{% endif %}>Venezuela</option>
                    <option value="Vietnam" {% if address.country == "Vietnam" %}selected{% endif %}>Vietnam</option>
                    <option value="Yemen" {% if address.country == "Yemen" %}selected{% endif %}>Yemen</option>
                    <option value="Zambia" {% if address.country == "Zambia" %}selected{% endif %}>Zambia</option>
                    <option value="Zimbabwe" {% if address.country == "Zimbabwe" %}selected{% endif %}>Zimbabwe</option>
                  </select>
                </div>

                <div class="column">
                  <label for="province">Province/State</label>
                  <select name="address[province]" id="province">
                    <option value="Alabama" {% if address.province == "Alabama" %}selected{% endif %}>Alabama</option>
                    <option value="Alaska" {% if address.province == "Alaska" %}selected{% endif %}>Alaska</option>
                    <option value="Arizona" {% if address.province == "Arizona" %}selected{% endif %}>Arizona</option>
                    <option value="Arkansas" {% if address.province == "Arkansas" %}selected{% endif %}>Arkansas</option>
                    <option value="California" {% if address.province == "California" %}selected{% endif %}>California</option>
                    <option value="Colorado" {% if address.province == "Colorado" %}selected{% endif %}>Colorado</option>
                    <option value="Connecticut" {% if address.province == "Connecticut" %}selected{% endif %}>Connecticut</option>
                    <option value="Delaware" {% if address.province == "Delaware" %}selected{% endif %}>Delaware</option>
                    <option value="Florida" {% if address.province == "Florida" %}selected{% endif %}>Florida</option>
                    <option value="Georgia" {% if address.province == "Georgia" %}selected{% endif %}>Georgia</option>
                    <option value="Hawaii" {% if address.province == "Hawaii" %}selected{% endif %}>Hawaii</option>
                    <option value="Idaho" {% if address.province == "Idaho" %}selected{% endif %}>Idaho</option>
                    <option value="Illinois" {% if address.province == "Illinois" %}selected{% endif %}>Illinois</option>
                    <option value="Indiana" {% if address.province == "Indiana" %}selected{% endif %}>Indiana</option>
                    <option value="Iowa" {% if address.province == "Iowa" %}selected{% endif %}>Iowa</option>
                    <option value="Kansas" {% if address.province == "Kansas" %}selected{% endif %}>Kansas</option>
                    <option value="Kentucky" {% if address.province == "Kentucky" %}selected{% endif %}>Kentucky</option>
                    <option value="Louisiana" {% if address.province == "Louisiana" %}selected{% endif %}>Louisiana</option>
                    <option value="Maine" {% if address.province == "Maine" %}selected{% endif %}>Maine</option>
                    <option value="Maryland" {% if address.province == "Maryland" %}selected{% endif %}>Maryland</option>
                    <option value="Massachusetts" {% if address.province == "Massachusetts" %}selected{% endif %}>Massachusetts</option>
                    <option value="Michigan" {% if address.province == "Michigan" %}selected{% endif %}>Michigan</option>
                    <option value="Minnesota" {% if address.province == "Minnesota" %}selected{% endif %}>Minnesota</option>
                    <option value="Mississippi" {% if address.province == "Mississippi" %}selected{% endif %}>Mississippi</option>
                    <option value="Missouri" {% if address.province == "Missouri" %}selected{% endif %}>Missouri</option>
                    <option value="Montana" {% if address.province == "Montana" %}selected{% endif %}>Montana</option>
                    <option value="Nebraska" {% if address.province == "Nebraska" %}selected{% endif %}>Nebraska</option>
                    <option value="Nevada" {% if address.province == "Nevada" %}selected{% endif %}>Nevada</option>
                    <option value="New Hampshire" {% if address.province == "New Hampshire" %}selected{% endif %}>New Hampshire</option>
                    <option value="New Jersey" {% if address.province == "New Jersey" %}selected{% endif %}>New Jersey</option>
                    <option value="New Mexico" {% if address.province == "New Mexico" %}selected{% endif %}>New Mexico</option>
                    <option value="New York" {% if address.province == "New York" %}selected{% endif %}>New York</option>
                    <option value="North Carolina" {% if address.province == "North Carolina" %}selected{% endif %}>North Carolina</option>
                    <option value="North Dakota" {% if address.province == "North Dakota" %}selected{% endif %}>North Dakota</option>
                    <option value="Ohio" {% if address.province == "Ohio" %}selected{% endif %}>Ohio</option>
                    <option value="Oklahoma" {% if address.province == "Oklahoma" %}selected{% endif %}>Oklahoma</option>
                    <option value="Oregon" {% if address.province == "Oregon" %}selected{% endif %}>Oregon</option>
                    <option value="Pennsylvania" {% if address.province == "Pennsylvania" %}selected{% endif %}>Pennsylvania</option>
                    <option value="Rhode Island" {% if address.province == "Rhode Island" %}selected{% endif %}>Rhode Island</option>
                    <option value="South Carolina" {% if address.province == "South Carolina" %}selected{% endif %}>South Carolina</option>
                    <option value="South Dakota" {% if address.province == "South Dakota" %}selected{% endif %}>South Dakota</option>
                    <option value="Tennessee" {% if address.province == "Tennessee" %}selected{% endif %}>Tennessee</option>
                    <option value="Texas" {% if address.province == "Texas" %}selected{% endif %}>Texas</option>
                    <option value="Utah" {% if address.province == "Utah" %}selected{% endif %}>Utah</option>
                    <option value="Vermont" {% if address.province == "Vermont" %}selected{% endif %}>Vermont</option>
                    <option value="Virginia" {% if address.province == "Virginia" %}selected{% endif %}>Virginia</option>
                    <option value="Washington" {% if address.province == "Washington" %}selected{% endif %}>Washington</option>
                    <option value="West Virginia" {% if address.province == "West Virginia" %}selected{% endif %}>West Virginia</option>
                    <option value="Wisconsin" {% if address.province == "Wisconsin" %}selected{% endif %}>Wisconsin</option>
                    <option value="Wyoming" {% if address.province == "Wyoming" %}selected{% endif %}>Wyoming</option>
                  </select>
                </div>


                
                <div class="rows">
                  <div class="column">
                    <label for="zip">Zip/Post Code</label>
                    <input type="text" value="{{ address.zip }}" name="address[zip]" />
                  </div>
                      
                  <div class="column">
                    <label for="phone">Phone Number</label>
                    <input type="tel" value="{{ address.phone }}" name="address[phone]" placeholder="555-555-1234" />
                  </div>
                </div>

                <label class="custom-checkbox">
                  <input type="checkbox" name="address[default]" value="1" class="checkbox visually-hidden" />
                  <span class="checkbox-custom"></span>
                  Set as Default Address?
                </label>

                <div class="modal-footer">
                  <button type="submit" class="add-address-btn">Update Address</button>
                </div>
              {% endform %}
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <p>No addresses found.</p>
    {% endif %}
  </div>
  
  <button id="addNewAddress">Add New Address</button>
  
  <!-- Modal Popup for New Address -->
  <div id="modal" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Add New Address</h2>
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-x-lg close-button" viewBox="0 0 16 16" onclick="closeModal()">
          <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" stroke="currentColor" stroke-width="0.6"/>
        </svg>
      </div>
      <div class="modal-body">
        {% form 'customer_address', customer.new_address, id: 'modalForm', class: 'modalForm' %}
          {{ form.errors | default_errors }}
          <div class="rows">
            <div class="column">
              <label for="first_name">First Name</label>
              <input type="text" value="" name="address[first_name]" size="30" />
            </div>
            <div class="column">
              <label for="last_name">Last Name</label>
              <input type="text" value="" name="address[last_name]" size="30" />
            </div>
          </div>

          <div class="column">
            <label for="company">Company</label>
            <input type="text" value="" name="address[company]" />
          </div>

          <div class="column">
            <label for="address1">Address Line 1</label>
            <input type="text" value="" name="address[address1]" />
          </div>

          <div class="column">
            <label for="address2">Address Line 2</label>
            <input type="text" value="" name="address[address2]" />
          </div>

          <div class="column">
            <label for="city">City</label>
            <input type="text" value="" name="address[city]" />
          </div>

          <div class="column">
            <label for="country">Country</label>
            <select id="country" name="address[country]">
              <option value="United States">United States</option>
              <option value="Afghanistan">Afghanistan</option>
              <option value="Albania">Albania</option>
              <option value="Algeria">Algeria</option>
              <option value="Andorra">Andorra</option>
              <option value="Angola">Angola</option>
              <option value="Antigua and Barbuda">Antigua and Barbuda</option>
              <option value="Argentina">Argentina</option>
              <option value="Armenia">Armenia</option>
              <option value="Australia">Australia</option>
              <option value="Austria">Austria</option>
              <option value="Azerbaijan">Azerbaijan</option>
              <option value="Bahamas">Bahamas</option>
              <option value="Bahrain">Bahrain</option>
              <option value="Bangladesh">Bangladesh</option>
              <option value="Barbados">Barbados</option>
              <option value="Belarus">Belarus</option>
              <option value="Belgium">Belgium</option>
              <option value="Belize">Belize</option>
              <option value="Benin">Benin</option>
              <option value="Bhutan">Bhutan</option>
              <option value="Bolivia">Bolivia</option>
              <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
              <option value="Botswana">Botswana</option>
              <option value="Brazil">Brazil</option>
              <option value="Brunei">Brunei</option>
              <option value="Bulgaria">Bulgaria</option>
              <option value="Burkina Faso">Burkina Faso</option>
              <option value="Burundi">Burundi</option>
              <option value="Cabo Verde">Cabo Verde</option>
              <option value="Cambodia">Cambodia</option>
              <option value="Cameroon">Cameroon</option>
              <option value="Canada">Canada</option>
              <option value="Central African Republic">Central African Republic</option>
              <option value="Chad">Chad</option>
              <option value="Chile">Chile</option>
              <option value="China">China</option>
              <option value="Colombia">Colombia</option>
              <option value="Comoros">Comoros</option>
              <option value="Congo">Congo</option>
              <option value="Costa Rica">Costa Rica</option>
              <option value="Croatia">Croatia</option>
              <option value="Cuba">Cuba</option>
              <option value="Cyprus">Cyprus</option>
              <option value="Czech Republic">Czech Republic</option>
              <option value="Denmark">Denmark</option>
              <option value="Djibouti">Djibouti</option>
              <option value="Dominica">Dominica</option>
              <option value="Dominican Republic">Dominican Republic</option>
              <option value="Ecuador">Ecuador</option>
              <option value="Egypt">Egypt</option>
              <option value="El Salvador">El Salvador</option>
              <option value="Equatorial Guinea">Equatorial Guinea</option>
              <option value="Eritrea">Eritrea</option>
              <option value="Estonia">Estonia</option>
              <option value="Eswatini">Eswatini</option>
              <option value="Ethiopia">Ethiopia</option>
              <option value="Fiji">Fiji</option>
              <option value="Finland">Finland</option>
              <option value="France">France</option>
              <option value="Gabon">Gabon</option>
              <option value="Gambia">Gambia</option>
              <option value="Georgia">Georgia</option>
              <option value="Germany">Germany</option>
              <option value="Ghana">Ghana</option>
              <option value="Greece">Greece</option>
              <option value="Grenada">Grenada</option>
              <option value="Guatemala">Guatemala</option>
              <option value="Guinea">Guinea</option>
              <option value="Guinea-Bissau">Guinea-Bissau</option>
              <option value="Guyana">Guyana</option>
              <option value="Haiti">Haiti</option>
              <option value="Honduras">Honduras</option>
              <option value="Hungary">Hungary</option>
              <option value="Iceland">Iceland</option>
              <option value="India">India</option>
              <option value="Indonesia">Indonesia</option>
              <option value="Iran">Iran</option>
              <option value="Iraq">Iraq</option>
              <option value="Ireland">Ireland</option>
              <option value="Israel">Israel</option>
              <option value="Italy">Italy</option>
              <option value="Jamaica">Jamaica</option>
              <option value="Japan">Japan</option>
              <option value="Jordan">Jordan</option>
              <option value="Kazakhstan">Kazakhstan</option>
              <option value="Kenya">Kenya</option>
              <option value="Kiribati">Kiribati</option>
              <option value="Kuwait">Kuwait</option>
              <option value="Kyrgyzstan">Kyrgyzstan</option>
              <option value="Laos">Laos</option>
              <option value="Latvia">Latvia</option>
              <option value="Lebanon">Lebanon</option>
              <option value="Lesotho">Lesotho</option>
              <option value="Liberia">Liberia</option>
              <option value="Libya">Libya</option>
              <option value="Liechtenstein">Liechtenstein</option>
              <option value="Lithuania">Lithuania</option>
              <option value="Luxembourg">Luxembourg</option>
              <option value="Madagascar">Madagascar</option>
              <option value="Malawi">Malawi</option>
              <option value="Malaysia">Malaysia</option>
              <option value="Maldives">Maldives</option>
              <option value="Mali">Mali</option>
              <option value="Malta">Malta</option>
              <option value="Marshall Islands">Marshall Islands</option>
              <option value="Mauritania">Mauritania</option>
              <option value="Mauritius">Mauritius</option>
              <option value="Mexico">Mexico</option>
              <option value="Micronesia">Micronesia</option>
              <option value="Moldova">Moldova</option>
              <option value="Monaco">Monaco</option>
              <option value="Mongolia">Mongolia</option>
              <option value="Montenegro">Montenegro</option>
              <option value="Morocco">Morocco</option>
              <option value="Mozambique">Mozambique</option>
              <option value="Myanmar">Myanmar</option>
              <option value="Namibia">Namibia</option>
              <option value="Nauru">Nauru</option>
              <option value="Nepal">Nepal</option>
              <option value="Netherlands">Netherlands</option>
              <option value="New Zealand">New Zealand</option>
              <option value="Nicaragua">Nicaragua</option>
              <option value="Niger">Niger</option>
              <option value="Nigeria">Nigeria</option>
              <option value="North Korea">North Korea</option>
              <option value="North Macedonia">North Macedonia</option>
              <option value="Norway">Norway</option>
              <option value="Oman">Oman</option>
              <option value="Pakistan">Pakistan</option>
              <option value="Palau">Palau</option>
              <option value="Palestine">Palestine</option>
              <option value="Panama">Panama</option>
              <option value="Papua New Guinea">Papua New Guinea</option>
              <option value="Paraguay">Paraguay</option>
              <option value="Peru">Peru</option>
              <option value="Philippines">Philippines</option>
              <option value="Poland">Poland</option>
              <option value="Portugal">Portugal</option>
              <option value="Qatar">Qatar</option>
              <option value="Romania">Romania</option>
              <option value="Russia">Russia</option>
              <option value="Rwanda">Rwanda</option>
              <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
              <option value="Saint Lucia">Saint Lucia</option>
              <option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
              <option value="Samoa">Samoa</option>
              <option value="San Marino">San Marino</option>
              <option value="Sao Tome and Principe">Sao Tome and Principe</option>
              <option value="Saudi Arabia">Saudi Arabia</option>
              <option value="Senegal">Senegal</option>
              <option value="Serbia">Serbia</option>
              <option value="Seychelles">Seychelles</option>
              <option value="Sierra Leone">Sierra Leone</option>
              <option value="Singapore">Singapore</option>
              <option value="Slovakia">Slovakia</option>
              <option value="Slovenia">Slovenia</option>
              <option value="Solomon Islands">Solomon Islands</option>
              <option value="Somalia">Somalia</option>
              <option value="South Africa">South Africa</option>
              <option value="South Korea">South Korea</option>
              <option value="South Sudan">South Sudan</option>
              <option value="Spain">Spain</option>
              <option value="Sri Lanka">Sri Lanka</option>
              <option value="Sudan">Sudan</option>
              <option value="Suriname">Suriname</option>
              <option value="Sweden">Sweden</option>
              <option value="Switzerland">Switzerland</option>
              <option value="Syria">Syria</option>
              <option value="Taiwan">Taiwan</option>
              <option value="Tajikistan">Tajikistan</option>
              <option value="Tanzania">Tanzania</option>
              <option value="Thailand">Thailand</option>
              <option value="Timor-Leste">Timor-Leste</option>
              <option value="Togo">Togo</option>
              <option value="Tonga">Tonga</option>
              <option value="Trinidad and Tobago">Trinidad and Tobago</option>
              <option value="Tunisia">Tunisia</option>
              <option value="Turkey">Turkey</option>
              <option value="Turkmenistan">Turkmenistan</option>
              <option value="Tuvalu">Tuvalu</option>
              <option value="Uganda">Uganda</option>
              <option value="Ukraine">Ukraine</option>
              <option value="United Arab Emirates">United Arab Emirates</option>
              <option value="United Kingdom">United Kingdom</option>
              <option value="Uruguay">Uruguay</option>
              <option value="Uzbekistan">Uzbekistan</option>
              <option value="Vanuatu">Vanuatu</option>
              <option value="Venezuela">Venezuela</option>
              <option value="Vietnam">Vietnam</option>
              <option value="Yemen">Yemen</option>
              <option value="Zambia">Zambia</option>
              <option value="Zimbabwe">Zimbabwe</option>
            </select>
          </div>
  
          <div class="column">
           <label for="province">Province/State</label>
           <select name="address[province]" id="province">
            <option value="Alabama">Alabama</option>
            <option value="Alaska">Alaska</option>
            <option value="Arizona">Arizona</option>
            <option value="Arkansas">Arkansas</option>
            <option value="California">California</option>
            <option value="Colorado">Colorado</option>
            <option value="Connecticut">Connecticut</option>
            <option value="Delaware">Delaware</option>
            <option value="Florida">Florida</option>
            <option value="Georgia">Georgia</option>
            <option value="Hawaii">Hawaii</option>
            <option value="Idaho">Idaho</option>
            <option value="Illinois">Illinois</option>
            <option value="Indiana">Indiana</option>
            <option value="Iowa">Iowa</option>
            <option value="Kansas">Kansas</option>
            <option value="Kentucky">Kentucky</option>
            <option value="Louisiana">Louisiana</option>
            <option value="Maine">Maine</option>
            <option value="Maryland">Maryland</option>
            <option value="Massachusetts">Massachusetts</option>
            <option value="Michigan">Michigan</option>
            <option value="Minnesota">Minnesota</option>
            <option value="Mississippi">Mississippi</option>
            <option value="Missouri">Missouri</option>
            <option value="Montana">Montana</option>
            <option value="Nebraska">Nebraska</option>
            <option value="Nevada">Nevada</option>
            <option value="New Hampshire">New Hampshire</option>
            <option value="New Jersey">New Jersey</option>
            <option value="New Mexico">New Mexico</option>
            <option value="New York">New York</option>
            <option value="North Carolina">North Carolina</option>
            <option value="North Dakota">North Dakota</option>
            <option value="Ohio">Ohio</option>
            <option value="Oklahoma">Oklahoma</option>
            <option value="Oregon">Oregon</option>
            <option value="Pennsylvania">Pennsylvania</option>
            <option value="Rhode Island">Rhode Island</option>
            <option value="South Carolina">South Carolina</option>
            <option value="South Dakota">South Dakota</option>
            <option value="Tennessee">Tennessee</option>
            <option value="Texas">Texas</option>
            <option value="Utah">Utah</option>
            <option value="Vermont">Vermont</option>
            <option value="Virginia">Virginia</option>
            <option value="Washington">Washington</option>
            <option value="West Virginia">West Virginia</option>
            <option value="Wisconsin">Wisconsin</option>
            <option value="Wyoming">Wyoming</option>
            <!-- Add other provinces or states if necessary -->
          </select>
          </div>

          <div class="rows">
            <div class="column">
              <label for="zip">Postal Code/ZIP</label>
              <input type="text" value="" name="address[zip]" />
            </div>

            <div class="column">
              <label for="phone">Phone Number</label>
              <input type="tel" value="" name="address[phone]" placeholder="555-555-1234" />
            </div>
          </div>

          <label class="custom-checkbox">
            <input type="checkbox" name="address[default]" value="1" class="checkbox visually-hidden" />
            <span class="checkbox-custom"></span>
            Set as Default Address?
          </label>

          <div class="modal-footer">
           <button type="submit" form="modalForm" class="add-address-btn">Add Address</button>
          </div>
        {% endform %}
      </div>
    </div>
  </div>
  
  <script>
    // Function to show the edit form for a specific address
    function showEditForm(addressId) {
      var editForm = document.getElementById('edit-address-' + addressId);
      editForm.style.display = 'block';
    }
  
    // Function to hide the edit form for a specific address
    function hideEditForm(addressId) {
      var editForm = document.getElementById('edit-address-' + addressId);
      editForm.style.display = 'none';
    }
  
    // Function to close the modal
    function closeModal() {
      document.getElementById('modal').style.display = 'none';
    }
  
    // Function to open the modal
    document.getElementById('addNewAddress').addEventListener('click', function() {
      document.getElementById('modal').style.display = 'block';
    });
  </script>

<style>
.address-section {
  padding: 3rem;
  width: 100%;
  margin: 0 auto;
}
.breadcrumb {
  padding: 10px 0;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.breadcrumb a {
  text-decoration: none;
  color: #838282;
  position: relative;
  font-size: 0.9rem;
  font-weight: 450;
}

.breadcrumb span {
  color: #838282;
}

.breadcrumb a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-color: #000;
}

.breadcrumb > *:not(:last-child)::after {
  content: '/';
  margin: 0 5px;
  color: #838282;
  display: inline-block;
  font-weight: 450;
  vertical-align: middle;
}

.address_action{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-bottom: 1px solid #ddd;
    margin-bottom: 4rem;
    padding-bottom: 4rem;
}

.address_action .redirect{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.address_action .redirect a{
    text-decoration: none;
    color: black;
    display: flex;
    font-weight: 450;
}

.address_action .redirect a svg{
    font-weight: 450;
}

.address_action h1{
  font-size: 3rem;
  font-weight: 500;
}

.view_address{
  display: grid;
  grid-template-columns: auto auto;
  gap: 2.5rem;
  width: 100%;
}

.address {
  border: 1px solid #ddd;
  margin-bottom: 1rem;
  width: 100%;
  font-weight: 500;
}

.address .head {
  background-color: #f2f2f2;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0.5rem;
  padding: 1rem 1.5rem;
}

p{
    margin: 0;
}

.customer_address {
  padding: 1.5rem;
}

.address_actions {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2rem;
    padding: 1.5rem;
    padding-top: 0;
}

.address_actions .edit-delete {
    width: 50%;
}

.address_actions .edit-btn, .address_actions .delete-btn {
    padding: 1.5rem 1rem;
    background-color: white;
    border: 1px solid #bbbbbb;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    transition: all 500ms ease;
}

.address_actions .btn-text {
    color: #000;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: all 300ms ease;
}

.address_actions .arrow-icon {
    position: absolute;
    right: 15%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: all 500ms ease;
    fill: #000;
}

.address_actions .edit-btn:hover .btn-text {
    left: 10%;
}

.address_actions .delete-btn:hover .btn-text{
  left: 13%;
}

.address_actions .edit-btn:hover .arrow-icon, .address_actions .delete-btn:hover .arrow-icon {
    right: 5%;
    opacity: 1;
}

#addNewAddress {
  background-color: #000;
  color: #fff;
  padding: 0.75rem 1rem;
  border: none;
  cursor: pointer;
  margin-top: 3.5rem;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.7);
  }

  /* Modal content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 94%;
    border-radius: 0;
    position: relative;
    height: 89%;
    overflow-y: auto;
    margin-top: 45px;
    padding: 5px 20px;
  }

  /* Modal header */
  .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border: none;
  }

  .modal-header h2 {
    margin-bottom: 0;
    font-weight: bolder;
    font-size: 2.3rem;
    color: black;
  }

  .close-button{
    cursor: pointer;
  }

  .modalForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .modalForm label{
    font-weight: 500;
  }

  .modalForm input{
    padding: 10px;
    font-weight: 500;
    border: 1px solid rgb(180, 179, 179);
  }

  .modalForm select{
    padding: 12px;
    font-weight: 500;
    border: 1px solid rgb(180, 179, 179);
  }

  .modalForm select option{
    font-weight: 500;
  }

  input[type="tel"]::placeholder{
    color: rgb(137, 137, 137);
    font-weight: 450;
  }

  .modalForm .rows{
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
  }

  .modalForm .column{
    display: flex;
    flex-direction: column;
  }

.custom-checkbox {
  display: inline-block;
  position: relative;
  padding-left: 34px;
  font-size: 16px;
  margin-left: 0.5rem;
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox-custom {
  position: absolute;
  top: 0;
  left: 0;
  height: 21px;
  width: 21px;
  border: 1px solid #787777;
  border-radius: 4px;
}

.custom-checkbox input:checked ~ .checkbox-custom {
  background-color: #025fc3;
  border-color: #007bff;
}

.checkbox-custom:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input:checked ~ .checkbox-custom:after {
  display: block;
}

.checkbox-custom::after {
    content: "";
    position: absolute;
    top: 40%;
    left: 50%;
    width: 6px;
    height: 13px;
    border: solid #fff;
    border-width: 0 3.5px 3.5px 0;
    transform: translate(-50%, -50%) rotate(45deg);
}

  .modal-footer{
    border: none;
    justify-content: flex-start;
    padding: 0;
  }

  .modal-footer button{
    padding: 0.7rem;
    background-color: black;
    color: white;
  }

  .modal-footer>* {
    margin: 0;
    margin-bottom: 2rem;
  }

  /* Prevent background scrolling when modal is open */
  body.modal-open {
    overflow: hidden;
  }
</style>

