{{ 'about.css' | asset_url | stylesheet_tag }}

{% style %}
 .cont .para{
    padding-top: {{ block.settings.padding_top }}px;
  }
{% endstyle %}


<section class="about" style="background-color: {{ section.settings.bg_color }}; padding: {{ section.settings.padding_top }} {{ section.settings.padding_right }} {{ section.settings.padding_bottom }} {{ section.settings.padding_left }};">
  <div class="cont">
    {% if section.settings.title %}
      <h1 style="color: {{ section.settings.title_color }}">{{ section.settings.title }}</h1>
    {% endif %}
    {% for block in section.blocks %}
      {% if block.type == 'paragraph' and block.settings.content %}
        <p class="para" style="color: {{ section.settings.content_color }}; padding-top: {{ block.settings.padding_top }}; padding-left: {{ block.settings.padding_left }}; padding-right: {{ block.settings.padding_right }}; padding-bottom: {{ block.settings.padding_bottom }};">{{ block.settings.content }}</p>
      {% endif %}
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Richtext",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title Color",
      "default": "#343434"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "color",
      "id": "content_color",
      "label": "Content Color",
      "default": "#292828"
    },
    {
      "type": "text",
      "id": "padding_top",
      "label": "Padding Top",
      "default": "0px"
    },
    {
      "type": "text",
      "id": "padding_right",
      "label": "Padding Right",
      "default": "0px"
    },
    {
      "type": "text",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "default": "0px"
    },
    {
      "type": "text",
      "id": "padding_left",
      "label": "Padding Left",
      "default": "0px"
    }
  ],
  "blocks": [
    {
      "type": "paragraph",
      "name": "Paragraph",
      "settings": [
        {
          "type": "textarea",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "color",
          "id": "content_color",
          "label": "Content Color",
          "default": "#292828"
        },
        {
          "type": "text",
          "id": "padding_top",
          "label": "Padding Top",
          "default": "0px"
        },
        {
          "type": "text",
          "id": "padding_right",
          "label": "Padding Right",
          "default": "0px"
        },
        {
          "type": "text",
          "id": "padding_bottom",
          "label": "Padding Bottom",
          "default": "0px"
        },
        {
          "type": "text",
          "id": "padding_left",
          "label": "Padding Left",
          "default": "0px"
          
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Richtext"
    }
  ]
}
{% endschema %}

