{{ 'product.css'| asset_url | stylesheet_tag }}
{{ 'product.js'| asset_url | script_tag }}

{% comment %} {% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
<img src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">
{% for image in product.images %}
  <a href="{{ image.src | img_url: 'large' }}">
    <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
  </a>
{% endfor %}
<h1>{{ product.title }}</h1>
<form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
  <select name="id" id="productSelect">
    {% for variant in product.variants %}
      {% if variant.available %}
        <option value="{{ variant.id }}">
          {{ variant.title }} - {{ variant.price | money_with_currency }}
        </option>
      {% else %}
        <option disabled="disabled">
          {{ variant.title }} - sold out
        </option>
      {% endif %}
    {% endfor %}
  </select>
  {{ current_variant.price | money }}
  <label for="Quantity">quantity</label>
  <input type="number" id="Quantity" name="quantity" value="1" min="1">
  <button type="submit" name="add" id="AddToCart">Add to cart</button>
</form>
<div>{{ product.description }}</div> {% endcomment %}

{% style %}
    .product-page {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
    }
{% endstyle %}

{% assign default_image = product.images[0] %} <!-- Set the first image as the default -->

<div class="product-page">
  <div class="product-images">
    <img src="{{ default_image | img_url: 'large' }}" alt="{{ default_image.alt | escape }}" id="ProductPhotoImg">
    <div class="product-thumbnails">
      {% for image in product.images %}
        <a href="#"
           class="thumbnail"
           data-image="{{ image.src | img_url: 'large' }}"
           thumbnail-alt="{{ image.alt }}"
           {% if product.selected_or_first_available_variant.featured_media and product.selected_or_first_available_variant.featured_media.alt != image.alt %}
             style="display: none;"
           {% endif %}
        >
          <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
        </a>
      {% endfor %}
    </div>

  </div>

  <div class="product-details">
    <h1>{{ product.title }}</h1>
    <div class="price-info">
        <p class="product-price">From {{ product.price | money }} exc VAT <br>
            {% if product.compare_at_price > product.price %}
                <span> From {{ product.compare_at_price | money }} inc VAT</span>
            {% endif %}
        </p>
      <p class="shipping"><a href="/pages/shipping">Shipping </a>calculated at checkout.</p>
    </div>

    <div class="product-description closed" id="product-description">
      {{ product.description }}
      <span class="show-more">... show more...</span>
    </div>

    <!-- Product Variant Section -->
    <fieldset class="product-form__options">
      <legend><span>Choose Variants</span></legend>
      <div class="variant">
      {% for option in product.options_with_values %}
        {% if option.name == 'Color' %}
          <p class="variant-title">{{ option.name }}</p>
          <div class="product-form__swatch">
            {% for value in option.values %}
              {% assign variant = product.variants | where: 'option1', value | first %}
              <label class="swatch">
                <input type="radio" name="variant-Color" value="{{ variant.id }}" data-image="{{ variant.featured_image | img_url: 'large' }}" data-alt="{{ value }}">
                <span class="swatch-image" style="background-image: url('{{ variant.featured_image | img_url: 'small' }}');"></span>
                <span class="swatch-name">{{ value }}</span>
              </label>
            {% endfor %}
          </div>
        {% else %}
          <p class="variant-title">{{ option.name }}</p>
          <div class="product-form__button-options">
            {% for value in option.values %}
              <label class="button-option">
                <input type="radio" name="variant-{{ option.name }}" value="{{ value }}">
                <span class="button-label">{{ value }}</span>
              </label>
            {% endfor %}
          </div>
        {% endif %}
      {% endfor %}
      </div>
    </fieldset>

    <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
      <input type="hidden" name="id" value="{{ product.variants.first.id }}">
      <div class="quantity-selector">
        <div class="quantity-title">QUANTITY</div>
        <div class="quantity-content">
          <button type="button" class="quantity-btn" onclick="decreaseQuantity()">-</button>
          <input type="text" id="Quantity" name="quantity" value="1" min="1" onchange="updateTotal()">
          <button type="button" class="quantity-btn" onclick="increaseQuantity()">+</button>
        </div>
      </div>

      <div class="total-price">
        <p>Total: <span id="totalPrice">{{ product.variants.first.price | divided_by: 100.00 }}</span></p>
      </div>

      <div id="productSelect">
        {% if product.available %}
            <button type="submit" name="add" id="AddToCart">Add to Basket</button>
        {% else %}
          <button type="button" name="add" id="AddToCart">Notify Me</button>
        {% endif %}
      </div>

      <button type="button" class="shopify-pay">
        Buy with
        <span class="shopify-pay-img">
          <img src="{{ 'shopPay.png' | asset_url }}" alt="Shopify Pay">
        </span>
      </button>

      <a href="/checkout" class="more-payment-options">More payment options</a>

    </form>




    <span class="add-to-wishlist">
        <i class="fa-regular fa-heart" style="color: #ffffff;"></i> &nbsp;
        Add to wishlist
    </span>

    <!-- sections/product-details.liquid -->
    <div class="product-additional-details">
      <div class="detail-headings">
        {% for block in section.blocks %}
          <div class="heading{% if forloop.first %} active{% endif %}" data-block-id="{{ block.id }}">
            <p class="detail-heading">{{ block.settings.detail_heading }}</p>
          </div>
        {% endfor %}
      </div>
      <div class="detail-contents">
        {% for block in section.blocks %}
          <div class="richtext-containers info{% if forloop.first %} active{% endif %}" data-block-id="{{ block.id }}">
            <div style="font-size: {{ block.settings.product_details_fontsize }}px; line-height: {{ block.settings.product_details_lineheight }};">
              {{ block.settings.product_details }}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

</div>

{% comment %} Similer products {% endcomment %}
{% assign current_product = product %}
{% assign current_collection = current_product.collections.first %}

{% if current_collection %}
<div class="similar-products">
  <h2 class="similar-products-heading" style="font-size: {{ section.settings.heading_font_size }}px; font-weight: {{ section.settings.heading_font_weight }};">
    Similar to <span id="product-title">{{ product.title }}</span>
  </h2>
  <div class="similar-products-container">
    <div class="similar-products-slider">
      {% for product in current_collection.products %}
        {% if product.id != current_product.id %}
          <div class="similar-product">
            <a href="{{ product.url }}" class="product-link">
              <img src="{{ product.featured_image | img_url: 'medium' }}" alt="{{ product.title }}">
              <h3 class="product-title">{{ product.title }}</h3>
              <p class="product-price">From {{ product.price | money }} exec VAT</p>
            </a>
            <form action="/cart/add" method="post" class="add-to-cart-form">
              <input type="hidden" name="id" value="{{ product.variants.first.id }}">
              <button type="submit" class="add-to-cart-button">Add to Cart</button>
            </form>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <button class="slick-prev slick-arrow">
     <i class="fa-solid fa-chevron-left fa-2xs" style="color: #5c5c5c;"></i>
    </button>
    <button class="slick-next slick-arrow">
     <i class="fa-solid fa-chevron-right fa-2xs" style="color: #5c5c5c;"></i>
    </button>
  </div>
</div>
{% endif %}

<script>
  function updateTotal() {
    var quantity = parseInt(document.getElementById("Quantity").value);
    var price = parseFloat("{{ product.variants.first.price | divided_by: 100.00 }}");
    var total = quantity * price;
    document.getElementById("totalPrice").innerText = total.toFixed(2);
  }

  function increaseQuantity() {
    var quantityInput = document.getElementById("Quantity");
    var currentValue = parseInt(quantityInput.value);
    quantityInput.value = currentValue + 1;
    updateTotal();
  }

  function decreaseQuantity() {
    var quantityInput = document.getElementById("Quantity");
    var currentValue = parseInt(quantityInput.value);
    if (currentValue > 1) {
      quantityInput.value = currentValue - 1;
      updateTotal();
    }
  }
</script>


{% schema %}
{
  "name": "Product",
  "settings": [
    {
        "type": "range",
        "id": "padding_top",
        "label": "Padding Top",
        "min": 5,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 5
    },
    {
        "type": "range",
        "id": "padding_bottom",
        "label": "Padding Bottom",
        "min": 5,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 5
    },
    {
      "type": "range",
      "id": "heading_font_size",
      "label": "Heading Font Size",
      "min": 12,
      "max": 36,
      "default": 24,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "select",
      "id": "heading_font_weight",
      "label": "Heading Font Weight",
      "options": [
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "bold",
          "label": "Bold"
        },
        {
          "value": "bolder",
          "label": "Bolder"
        },
        {
          "value": "lighter",
          "label": "Lighter"
        }
      ],
      "default": "bold"
    }
  ],
  "blocks": [
    {
      "type": "detail",
      "name": "Detail",
      "settings": [
        {
          "type": "text",
          "id": "detail_heading",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "product_details",
          "label": "Details"
        },
        {
          "type": "range",
          "id": "product_details_fontsize",
          "label": "Font Size",
          "min": 10,
          "max": 30,
          "step": 1,
          "unit": "px",
          "default": 14
        },
        {
          "type": "range",
          "id": "product_details_lineheight",
          "label": "Line Height",
          "min": 1,
          "max": 2,
          "step": 0.1,
          "default": 1.5
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product",
      "category": "Product"
    }
  ]
}
{% endschema %}

