{{ 'product-collection.css' | asset_url | stylesheet_tag }}
{{ 'sort.js'| asset_url | script_tag }}


<section class="sorting">
    <div class="filter">
        {% comment %} <i class="fa-solid fa-filter"></i> {% endcomment %}
        <span class="material-symbols-outlined">tune</span>
        <span>Filter</span>
    </div>
    <div>
        <span>{{ collection.products_count }} &nbsp; Products</span>
    </div>
    <div class="sort">
        <div class="dropdown">
          <span onclick="myFunction()" class="dropbtn">Sort By</span>
          <i id="sortIcon" class="fa-solid fa-chevron-down dropbtn" onclick="myFunction()"></i>
          <div id="myDropdown" class="dropdown-content">
            <a href="?sort=price-asc">Best selling</a>
            <a href="?sort=price-desc">Title ascending</a>
            <a href="?sort=title-asc">Title descending</a>
            <a href="?sort=title-desc">Price ascending</a>
            <a href="?sort=title-desc">Price descending</a>
            <a href="?sort=title-desc">Created ascending</a>
            <a href="?sort=title-desc">Created descending</a>
            <a href="?sort=title-desc">Relevance</a>
          </div>
        </div>
    </div>
</section>


{%- paginate collection.products by section.settings.products_per_page -%}
    <section class="grid">
        {% for product in collection.products %}
            <div class="grid-container" id="product-{{ product.id }}">
                <a href="{{ product.url }}" style="text-decoration: none;">
                    <div class="image-container">
                        <div class="image">
                            {% if product.images.size > 1 %}
                                <img src="{{ product.images.first | img_url: 'large' }}" alt="{{ product.title }}" class="f-image main-image-{{ product.id }}">
                                <img src="{{ product.images[1] | img_url: 'large' }}" alt="{{ product.title }}" class="f2-image secondary-image-{{ product.id }}">
                            {% else %}
                                <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}" class="f-image main-image-{{ product.id }}">
                                <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}" class="f2-image secondary-image-{{ product.id }}">
                            {% endif %}
                        </div>
                        <div class="top">
                            {% if product.available %}
                                <div class="sale">SALE</div>
                            {% else %}
                                <div class="sale">SOLD OUT</div>
                            {% endif %}
                            <div>
                                <i class="fa-regular fa-heart" style="color: #030303;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="details">
                        <div class="head">{{ product.title }}</div>
                        </a>
                        <p>From {{ product.price | money }} exc VAT &nbsp;
                            {% if product.compare_at_price > product.price %}
                                <span>{{ product.compare_at_price | money }}</span>
                            {% endif %}
                        </p>
                    </div>

                    <div class="seperator"></div>

                    {% if product.options.size > 1 or product.options.first != 'Title' %}
                        <div class="variant">
                            {% for option in product.options_with_values %}
                                {% if option.name == 'Color' %}
                                    <p class="variant-title">{{ option.name }}</p>
                                    <div class="product-form__swatch">
                                        {% for value in option.values %}
                                            {% assign variant = product.variants | where: 'option1', value | first %}
                                            <label class="swatch">
                                                <input type="radio" name="variant-Color-{{ product.id }}" value="{{ variant.id }}" data-image="{{ variant.featured_image | img_url: 'large' }}" data-alt="{{ value }}" class="variant-radio-{{ product.id }}">
                                                <span class="swatch-image" style="background-image: url('{{ variant.featured_image | img_url: 'small' }}');"></span>
                                                <span class="swatch-name">{{ value }}</span>
                                            </label>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <p class="variant-title">{{ option.name }}</p>
                                    <div class="product-form__button-options">
                                        {% for value in option.values %}
                                            <label class="button-option">
                                                <input type="radio" name="variant-{{ option.name }}-{{ product.id }}" value="{{ value }}">
                                                <span class="button-label">{{ value }}</span>
                                            </label>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}

                    <form action="/cart/add" method="post" class="add-to-cart-form">
                      <input type="hidden" name="id" value="{{ product.variants.first.id }}">
                      <button type="submit" class="add-to-cart-button">
                        <span>Add to Cart</span>
                      </button>
                    </form>
            </div>
        {% else %}
            <p>No matches</p>
        {% endfor %}
    </section>
    <section class="paging">
        <div class="left {% unless paginate.previous %}disabled{% endunless %}">
            {% if paginate.previous %}
                <a href="{{ paginate.previous.url }}"><i class="fa-solid fa-arrow-left-long"></i></a>
            {% else %}
                <i class="fa-solid fa-arrow-left-long"></i>
            {% endif %}
        </div>
        <div class="page-links">
            {% for part in paginate.parts %}
                {% if part.is_link %}
                    <a href="{{ part.url }}">{{ part.title }}</a>
                {% else %}
                    <p class="current">{{ part.title }}</p>
                {% endif %}
            {% endfor %}
        </div>
        <div class="right {% unless paginate.next %}disabled{% endunless %}">
            {% if paginate.next %}
                <a href="{{ paginate.next.url }}"><i class="fa-solid fa-arrow-right-long"></i></a>
            {% else %}
                <i class="fa-solid fa-arrow-right-long"></i>
            {% endif %}
        </div>
    </section>
{% endpaginate %}




{% schema %}
{
    "name": "Product collection",
    "settings": [
        {
            "type": "number",
            "id": "products_per_page",
            "label": "products per page" 
        }
    ],
    "presets": [
        {
            "name": "Product collection",
            "category": "Product"
        }
    ]
}
{% endschema %}