{{ 'shop-section.css'| asset_url | stylesheet_tag }}

<section class="shop {{ section.settings.image_placement }} {{ section.settings.image_width }} {{ section.settings.image_height }}" style="margin-top: {{ section.settings.margin_top }}px; margin-bottom: {{ section.settings.margin_bottom }}px; padding: 0 {{ section.settings.padding }}px">

  {% if section.settings.shop_image %}
    <div class="image-container {{ section.settings.image_behavior }}">
      <img src="{{ section.settings.shop_image | img_url: 'large' }}" alt="shop">
    </div>
  {% endif %}

  <div class="cont {{ section.settings.content_position }} {{ section.settings.content_alignment }} {{ section.settings.content_layout }}">
    {% if section.blocks.size > 0 %}
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'top_text' %}
            <p class="top" style="color: {{ section.settings.top_text_color }};">{{ block.settings.top_text }}</p>
          {% when 'heading' %}
            <p class="head" style="color: {{ section.settings.heading_color }}; font-weight: {{ block.settings.text_weight }}; font-size: {{ block.settings.font_size }}px;">{{ block.settings.heading }}</p>
          {% when 'paragraph' %}
            <p class="para" style="color: {{ section.settings.paragraph_color }};">{{ block.settings.paragraph }}</p>
          {% when 'button' %}
            <a href="{{ block.settings.button_link }}">
              <button style="color: {{ block.settings.button_text_color }}; background-color: {{ block.settings.button_bg_color }};">{{ block.settings.button_text }}</button>
            </a>
        {% endcase %}
      {% endfor %}
    {% endif %}
  </div>

</section>


{% schema %}
{
  "name": "Image with text",
  "settings": [
    {
      "type": "image_picker",
      "id": "shop_image",
      "label": "Shop Image"
    },
    {
      "type": "select",
      "id": "image_height",
      "label": "Desktop Image Height",
      "options": [
        { "value": "adapt", "label": "Adapt to Image" },
        { "value": "small-height", "label": "Small" },
        { "value": "medium-height", "label": "Medium" },
        { "value": "large-height", "label": "Large" }
      ],
      "default": "medium-height"
    },
    {
      "type": "select",
      "id": "image_width",
      "label": "Desktop Image Width",
      "options": [
        { "value": "small", "label": "Small" },
        { "value": "medium", "label": "Medium" },
        { "value": "large", "label": "Large" }
      ],
      "default": "large"
    },
    {
      "type": "select",
      "id": "image_placement",
      "label": "Desktop Image Placement",
      "options": [
        { "value": "image-first", "label": "Image First" },
        { "value": "image-second", "label": "Image Second" }
      ],
      "default": "image-first"
    },
    {
      "type": "select",
      "id": "content_position",
      "label": "Desktop Content Position",
      "options": [
        { "value": "top", "label": "Top" },
        { "value": "middle", "label": "Middle" },
        { "value": "bottom", "label": "Bottom" }
      ],
      "default": "middle"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "label": "Desktop Content Alignment",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "content_layout",
      "label": "Content Layout",
      "options": [
        { "value": "no-overlap", "label": "No Overlap" },
        { "value": "overlap", "label": "Overlap" }
      ],
      "default": "no-overlap"
    },
    {
      "type": "select",
      "id": "image_behavior",
      "label": "Image Behavior",
      "options": [
        { "value": "none", "label": "None" },
        { "value": "ambient-movement", "label": "Ambient Movement" },
        { "value": "zoom-scroll", "label": "Zoom in on Scroll" }
      ],
      "default": "none"
    },
    {
      "type": "range",
      "id": "margin_top",
      "label": "Margin Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 100
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 100
    },
    {
      "type": "range",
      "id": "padding",
      "label": "padding",
      "min": 0,
      "max": 200,
      "step": 5,
      "default": 100
    }
  ],
  "blocks": [
    {
      "type": "top_text",
      "name": "Text",
      "settings": [
        {
          "type": "richtext",
          "id": "top_text",
          "label": "Top Text"
        }
      ]
    },
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "range",
          "id": "font_size",
          "label": "Font Size",
          "min": 10,
          "max": 100,
          "step": 1,
          "default": 35
        },
        {
          "type": "select",
          "id": "text_weight",
          "label": "Text Weight",
          "options": [
            { "value": "400", "label": "Lighter" },
            { "value": "500", "label": "Normal" },
            { "value": "700", "label": "Bold" }
          ],
          "default": "500"
        }
      ]
    },
    {
      "type": "paragraph",
      "name": "Paragraph",
      "settings": [
        {
          "type": "richtext",
          "id": "paragraph",
          "label": "Paragraph"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Button Label"
        },
        {
          "type": "color",
          "id": "button_text_color",
          "label": "Button Text Color",
          "default": "#FFFFFF"
        },
        {
          "type": "color",
          "id": "button_bg_color",
          "label": "Button Background Color",
          "default": "#303030"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image with text",
      "category": "Custom"
    }
  ]
}
{% endschema %}
